* {
    padding: 0;
    margin: 0;
}

.content {
    width: 1024px;
    margin: 0 auto;
    color: #292929;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    background: linear-gradient(#fee5e0, white);
    height: 220px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.name {
    font-size: 45px;
}

.profession {
    font-family: "Montserrat-Italic";
}

.column-first, .column-second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.column-first img {
    height: 180px;
    border-radius: 50%;
    border: 7px solid white;
}

.column-second {
    align-items: flex-start;
    width: 75%;
}

.column-first {
    width: 25%;
}

.line {
    background-color: #292929;
    width: 90%;
    height: 3px;
}

aside {
    width: 25%;
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside img{
    width: 30px;
    margin-right: 5px;
}
.heading{
    color: white;
    background-color: #292929;
    width: 200px;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 12px;
}
.first-inform{
    height: 250px;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.first-inform li{
    list-style-type: none;
    padding: 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-inform li{
    padding: 5px 5px 5px 10px;
    font-size: 12px;
}






main{
    width: 75%;
    background-color: violet;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url("fonts/Montserrat-Italic.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}